/* CSS for making a character sheet on the page */
.table {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
  
.row {
    display: flex;
}
  
.cell {
    flex: 1;
    border: 1px solid black;
    padding: 8px;
}

.sheet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .tableRow {
    display: flex;
    flex-wrap: wrap;
} */